<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fake/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fake/css/Style.css' %}">
    <link rel="stylesheet" href="{% static 'fake/css/Radio.css' %}">
    <title>Django - Tools</title>
</head>
<body>
    <!-- Main Section Start -->
    <section class="AnswerSection">
        <p class="answer">
            <!-- In Django -->
            {% if answer == "not_fake" %} 
            Not Fake
            {% else %}
            Fake
            {% endif %}
        </p>
        <a href="/" class="backbtn">Back</a>
    </section>
    <!-- Main Section End -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/Js/Main.js"></script>
</body>
</html>